// @import '@/src/styles/breakpoints';

.componentHeader {
	background-color: var(--bg-preto);
	color: var(--bg-branco);
	padding: 8px var(--padding-x);
	// min-height: 56px;
	position: sticky;
	top: 0;
	z-index: 99999;
	min-height: 85px;
	overflow: hidden;

	display: grid;
	grid-template-columns: 400px 1fr 70px;
	align-items: center;
	justify-content: space-around;
	width: 100%;

	&.logoIcon {
		// background-color: #1a1919c2;
		max-height: 30px;
		min-height: 60px;
		height: max-content;
	}


	@media (max-width: 1420px) {
		grid-template-columns: 1fr 50px;
		justify-self: space-between;
		padding: 8px 16px;
	}

	.componentLogo {
		width: 250px;
		height: auto;
		// transition: .3s;

		&.logoIcon {
			width: 160px !important;
			height: auto;
			height: auto;

			img {
				object-fit: contain;
			}
		}

		.logo {
			width: inherit;
			height: inherit;
			transition: all 0.3s ease;

			img {
				width: inherit;
				height: inherit;
			}
		}
	}

	nav {
		&.header {
			@media (max-width: 1420px) {
				display: none;
			}
		}

		ul {
			display: flex;
			gap: 40px;

			li {
				a {
					font-family: var(--font-playfar);
					font-weight: 700;
					font-size: 20px;
					color: var(--bg-branco);
					transition: .8s;

					&:hover {
						color: var(--primary-color);
					}
				}
			}
		}
	}

	.containerLinguagem {
		width: max-content;
		font-family: var(--font-playfar);
		font-weight: 700;
		font-size: 20px;
		display: flex;
		gap: 10px;

		span {
			cursor: pointer;
		}

		&.header {
			@media (max-width: 1420px) {
				display: none;
			}
		}
	}

	// .menu {
	// 	display: none;

	// 	@media (max-width: 1420px) {
	// 		display: block;
	// 		cursor: pointer;
	// 	}
	// }

	.menu {
		display: none;
	
		@media (max-width: 1420px) {
			display: block;
			cursor: pointer;
			transition: transform 0.3s ease;
			color: var(--bg-branco);
		}
	}
}
